extends layout

block content
      div(class='w3-container')
        header(class='w3-container w3-center w3-teal')
            h1 Ontologia de Magic the Gathering
      
      h2 &nbsp Queries definidas:
      ul
        h5
          li
            a(href='./query/1') Número de cartas por cor
            br 
          li
            a(href='./query/2') Nomes das criaturas verdes
            br
          li
            a(href='./query/3') Nomes das cartas e a sua a coleção a que pertencem
            br
          li
            a(href='./query/4') Todos os feitiços mitico-raros
            br
          li
            a(href='./query/5') Cartas desenhadas pelo designer "Jason Chan"
            br
          li
            a(href='./query/6') Cartas com o subtipo "Anjo", a respetiva cor e a sua coleção
            br
          li
            a(href='./query/7') Cartas no torneio Alara e no "Baralho_Eduardo"
            br
          li
            a(href='./query/8') Todas as cartas pretas em baralhos e o seu custo de mana
            br
          li
            a(href='./query/9') Todas as cartas da expansão Zendikar cuja raridade é mítica
            br
          li
            a(href='./query/10') Cartas permitidas no torneio_block e que estão no deck "Baralho_Eduardo"
            br
          li
            a(href='./query/11') Ordenar as criaturas pelo maior ataque, mostrando o seu ataque, defesa, custo de mana e raridade
            br